*__pycache__*
temp_data
Models/FSRCNN/runs
*.code-workspace
Models/FSRCNN/tensor_test.py
*.pt
*.pth
*.png
Models/FSRCNN/tensor_test.py
Models/FSRCNN/Emulation/fsrcnn_cpp/debug_crops/
.vscode
*.log.old
*.log

# Ignore XSA files as they are build products
*.xsa