*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
*.bit
/components/plnx_workspace
/components/yocto
.petalinux
hardware/xilinx-zcu102-2023.1/**
!hardware/xilinx-zcu102-2023.1/xilinx-zcu102-2023.1.srcs
!*.sh

remade_app_binaries

components/*
!components/yocto
components/yocto/*
!components/yocto/layers
components/yocto/layers/*
!components/yocto/layers/poky
components/yocto/layers/poky/*
!components/yocto/layers/poky/meta
components/yocto/layers/poky/meta/*
!components/yocto/layers/poky/meta/conf
components/yocto/layers/poky/meta/conf/*
!components/yocto/layers/poky/meta/conf/bitbake.conf