*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
/components/plnx_workspace
/components/yocto
hardware/xilinx-kv260-starterkit-2023.1/xilinx-kv260-starterkit-2023.1.runs
hardware/xilinx-kv260-starterkit-2023.1/xilinx-kv260-starterkit-2023.1.xsa
hardware/xilinx-kv260-starterkit-2023.1/xilinx-kv260-starterkit-2023.1.cache
hw-description/kv260_upscaler.bit