menu "user packages " 
config add-mult-test  
	 bool "add-mult-test"
	 help
	
config axi-dma-test  
	 bool "axi-dma-test"
	 help
	
config dma-cpp  
	 bool "dma-cpp"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config opencv-test  
	 bool "opencv-test"
	 help
	
config packagegroup-petalinux-kria  
	 bool "packagegroup-petalinux-kria"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config print-fb-info  
	 bool "print-fb-info"
	 help
	
config v4l-to-fb0  
	 bool "v4l-to-fb0"
	 help
	
config v4l-to-fb0-aligned  
	 bool "v4l-to-fb0-aligned"
	 help
	
config vid-v4l-test  
	 bool "vid-v4l-test"
	 help
	
endmenu
